@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
/* --------------------------------------------------Home CSS----------------------------------------------- */
.container{
    width: 100%;
    height: 100vh;
}

.container .img {
  margin-left:-65px;
}

body {
  background-color: #222;
  width:80%;
  margin:auto;
}
/* --------------------------------------------------NavBar CSS----------------------------------------------- */
 nav{
    position: fixed;
    background-color: transparent;
    z-index: 10;
    width: 100%;
    /* padding-right: 3.5%; */
} 
.head{
  float: right;
    margin: 50px 230px;
}
nav ul li{
    display: inline-block;
    margin: 0 20px; 
}
nav ul li a{
    font-size: 21px;
    text-decoration: none;
    color: #FF8C00;
    font-weight: bold;
  
}
nav ul li a:hover{
    text-decoration: none;
}
/* -------------------------------------------------End of NavBar CSS----------------------------------------------- */
.detail{  
    padding-top: 12%;  
}
.detail h1{
    font-family:"Poppins",serif ;
    color: #fff;
    font-size: 55px;
    margin-bottom: 20px;   
}
.detail h1 span{ 
    color: #ff004f;
}
span{
    color: #FF8C00;
}
.detail p{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #fff;
   line-height: 35px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 130px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    border-radius: 12%;
    margin-left: 15%;
}
/* ---------------------------About CSS----------------------- */
#About{
  padding: 75px 0;
  color: #fff;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 35% ;
}

.about-col-1 img{
  width: 100%;
  margin-top: 7%;
  margin-left: 7%;
  border-radius: 15%;
  /* overflow: hidden; */
}
.about-col-1 img:hover{
  transform: scale(1.1);
  transition: transform 0.7s;
}

.about-col-2{
  flex-basis: 60%;
}
.about-col-2 h2{
  margin-top: 5%;
}
.sub-title{
  font-size: 60px;
  font-weight: 600;
}
.about-col-2 p{
  padding-top: 2%;
  font-size: 18px;
  margin-right: 1%; 
}

.tab-titles{
  display: flex;
  gap: 100px;
  margin: 17px 0 40px;
}
.tab-titles p1{
  font-size: 25px;
}

.tab-links{
  margin-right: 50px;
  font-size: 21px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 100%;
}

.tab-contents ul li{
  list-style: none;
  margin: 30px 0;
  font-size: 18px;
}
.tab-contents ul li span{
  color: #ff004f;
  font-size: 21px;
}

.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}

/* ------------------------Education CSS----------------------- */
  .education{
    font-family: "Playfair Display", serif;
    font-size: 35px;
    color: #fff;
    margin: 90px 0 -50px 0; 
}
  .education h2{
    padding-top: 2.5%;
    margin-left: 30px;
}
  .edu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 370px;
    height: 550px;
  }
  .card img{
    height: 100px;
    width: 100px;
  }
  
  .card h2 {
    margin-top: 5px;
    text-align: center;
    font-size: 45px;
    color: #333;
  }

  .card p {
    font-size: 26px;
    color: #333;
  }

  .card:hover{
    background-color: #111;
  }
  .card:hover p{
    color: #fff;
  }

 .edu .time-period-1 {
    font-size: 35px;
    color: #111;
    padding-top: 140px;
    margin-left: 42% ;
  }
  .edu .time-period-2 {
    font-size: 35px;
    color: #111;
    padding-top: 174px;
    margin-left: 42% ;
  }
  .edu .time-period-3 {
    font-size: 35px;
    color: #111;
    padding-top: 174px;
    margin-left: 68% ;
  }
  /* ------------------------Projects CSS----------------------- */
  .projects{
    font-family: "Playfair Display", serif;
    color: #fff;
  }
  .projects h2{
    font-size: 45px;
    color: #fff;
    padding-top: 35px;
  }
  .container2{
    margin-top: 35px;
    display: flex;
    gap: 20px;
  }
  .work{
    border-radius: 12px;
    position: relative;
    overflow: hidden;
  }
  .work img{
    width: 100%;
    border-radius: 21px;
    display: block;
    transition: transform 0.5s;
  }
  .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6),#FFB347);
    left: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-size: 28px;
    transition: height 0.6s;
  }
  .layer h3{
    font-weight: 500;
    margin-bottom: 20px;
  }
  .layer p{
    font-size: 24px;
  }
  .layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  }
  .work:hover img{
    transform: scale(1.2);
  }
  .work:hover .layer{
    height: 100%;
  }

  .projects .btn{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin: 50px auto;
    width: fit-content;
    background-color: #FF8C00;
    padding: 14px 25px;
    border-radius: 8px;
    transition: background 0.5s;
  }
 .projects .btn:hover{
    background: #ff004f;

  }

/* -----------------------Contact CSS------------------- */
  .contact{
    font-family: "Playfair Display", serif;
    color: #fff;
    padding-top: 12px;
  }
  .contact h2{
    font-size: 45px;
    color: #fff;
    padding-top: 1%;
  }

  .contact-left{
    flex-basis: 35%;
  }
  .contact-left p{
    margin-top: 30px;
  }
  .contact-left a{
    text-decoration: none;
  }
  .contact-left p i{
    color: #ff004f;
    margin-right: 10px;
    font-size: 25px;
  }
  .social-icons{
    margin-top: 30px;
  }
  .social-icons a{
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
  }
  .social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
  }
  .contact-left .btn{
    font-size: 18px;
    font-weight: 600;
    margin: 50px 0;
    padding: 14px 45px;
    display: block;
    width: fit-content;
    border-radius: 8px;
    transition: background 0.5s;
  }
 .contact-left .btn:hover{
    background: #ff004f;

  }
.contact-right{
  flex-basis: 64%;
}
.contact-right form{
  width: 100%;
}

form input,form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #f9f9f9;
  padding: 15px;
  margin: 20px 0;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2{
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0;
  padding: 14px 45px;
  background-color: #ff004f;
  border-radius: 8px; 
  cursor: pointer;
}
.copyright p{
  padding: 20px 0;
  margin-top: 7%;
  width: 100%;
  color: #000;
  background: aqua;
  text-align: center;
}
.copyright p i{
  color: #ff004f;
}

#msg{
  color: aqua;
}

/* -----------------------------------Responsive------------------------------- */
  nav .fa-solid{
  display: none;
  }

  /* --------------------Welcome Responsive--------------- */
@media only screen and (max-width:400px){
  .container img{
    height: 120px;
    width: 210px;
    padding-left: 5%;
  }
  nav .fa-solid{
    display: block;
    position: static;
    font-size: 35px;
    margin: -15px -95px 0 70px;
  }
  nav ul{
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -205px;
    width: 205px;
    height: 100vh;
    padding-top: 75px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin-top: 25px;
  }
  nav ul li a{
    color: #fff;
  }
  nav ul .fa-solid{
    position: absolute;
    top: 45px;
    right: 185px;
    font-size: 45px;
  }
  .container .detail h1{
    margin-right: 45%;
    font-size: 30px;
  }
   .images .picture{
    margin: 77% 0% 20% 20%;
    height: 55vh;
    width: 45vh;
   }
  .container .detail p{
    display: none;
  }
  /* --------------------About Responsive--------------- */
  .about-col-2 h2{
    margin-top: -140%;
    text-align: center;
    font-size: 35px;
  }
  .row .about-col-1 img{
    margin: 0 25% 0 0;
    height: 55vh;
    width: 45vh;
  }
  .about-col-2 p{
    padding-top: 80%;
    padding-bottom: 5%;
    width: 300px;
    margin-top: 50%;
    font-size: 1rem;
  }
  .tab-titles p1{
    font-size: 1.2rem;
    margin-right: -83px;
  }
  .tab-contents ul li{
    margin-top: -5%;
    font-size: 1rem;
    color: #fff;
  }
  .tab-contents ul li span{
    font-size: 1.17rem;
  }
  /* --------------------Education Responsive--------------- */
  .education h2{
    margin-top: -50%;
    padding-left: 15%;
    padding-bottom: 130%;
    font-size: 35px;
    /* text-align: center;    */
  }
  .edu{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
  .card{
    border-radius: 20px;
    width: 100%;
    height: 180%;
  }
  .card img{
    height: 82.5px;
    width: 82.5px;
  }
  /* .card h2{
    font-size: 30px;
  } */

  .edu .time-period-1{
    padding-top: 0;
    padding-left: 29%;
    margin-top: 12%;
    margin-left: 0;
  }
  .edu .time-period-2{
    padding-top: 0;
    padding-left: 29%;
    margin-top: 22%;
    margin-left: 0;
  }
  .edu .time-period-3{
    padding-top: 0;
    padding-left: 62%;
    margin-top: 22%;
    margin-left: 0;
  }

  /* --------------------Projects Responsive--------------- */
  .projects h2{
    margin-top: 120%;
    font-size: 35px;
    text-align: center;
  }
  .container2{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
  .work img{  
    height: 100%;
    width: 100%;
  }
  
  /* ---------------------Contact Responsive---------------- */
  .contact, .row{
    max-width: 100%;
    margin-right: -80%;
  }
  .contact-left h2{
    font-size: 35px;
    margin-right: -36%;
    text-align: center;
  }
  .contact-left p{
    margin-right: -30%;
  }
  
}